Common requirements:

	Each student or team of 2 students will take one project. It is ok to take a theme that is not listed below (but check with the lab advisor before starting).

	Each project will have 2 implementations: one with "regular" threads or tasks/futures, and one distributed (possibly, but not required, using MPI). A third implementation, using OpenCL or CUDA, can be made for a bonus.

The documentation will describe:

	- the algorithms,
	- the synchronization used in the parallelized variants,
	- the performance measurements

Theme: 4. Find an n-coloring of a graph.